.action-bar {
  margin-top: 48px;
  text-align: center;
}

.action {
  margin: 0;
  padding: 0 18px;
  min-width: 190px;
  font-size: 16px;
  height: 44px;
  border-radius: 3px;
  vertical-align: middle;
}

.action:first-child {
  margin-right: 20px;
}

.anticon {
  vertical-align: middle;
  font-size: 20px;
  margin: 0 8px;
}